.btn {
    margin-right: 5px;
}

.tableActions {
    width: 105px;
}

.colorMenu{    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
}