body {
    color: rgb(0, 75, 0);

    background: url('/assents/bg_enem.png') center no-repeat;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-attachment: relative;
    background-size: cover;
}

.home {
    width:50%;
}

.btn-home {
    position: relative;
    top: 200px;
    left: 10%;
}

.titulo {
    position: relative;
    text-align: center;
    color: black;
    top: 200px;
    font-size: 50px;
}
